{% extends 'admin_navbar.html' %}
{% block content %}
<h3 align="center" style="color:green">{{msg}}</h3>
<form method="post">
    {% csrf_token %}

<table  align="center" class="table">
    <tr>
        <td>Student Name</td>
        <td><input type="text" name="txtstdname" value="{{ib.studname}}"></td>
    </tr>
        <tr>
             <td>
                Student Semster:
            </td>
            <td>
                <input type="number" name="txtSem" max="6" min="1" value={{Stud.sem}}>
            </td>

        <td>Book Name</td>
            <td><select name = 'ddlbkname'>
                <option selected>{{ ib.bookname }}</option>
                {% for i in books %}
                <option>
                {{ i.bname }}
            </option>
                {% endfor %}
            </select></td>
    </tr>
        <tr>
        <td>Start Date</td>
        <td><input type="date" name="startdate" >
            <input type="text" value="{{ib.startdate}}" disabled>
        </td>
    </tr>
        <tr>
        <td>End Date</td>
        <td><input type="date" name="enddate" value="{{ib.enddate}}" >
        <input type="text" value="{{ib.enddate}}" disabled></td>
    </tr>
        <tr>
        <td></td>
        <td><input type="submit"  value="Update"></td>
    </tr>
</table>
</form>
{% endblock%}